<div class="house_item_block">
  <%= link_to real_estate_path(rs.id) do %>
    <div class="house_item_cover">
      <%= image_tag rs.header_image.variant(resize_to_fit: [100, 100]) %>
    </div>
  <% end %>
  <div class="house_item_title"><%=  I18n.t(rs.real_estate_type) %> <%= rs.number_of_rooms %>-ะบ</div>
  <div class="house_item_price"><%= rs.requested_price %></div>
</div>
