<h2 class="real_estate_item_header">Детальные данные по объекту недвижимости</h2>
<div class="real_estate_items">
  <div class="real_estate_wrapper">
    <div class="rs_fotos_wrapper">
      <div class="rs_item_foto"><%= image_tag @real_estate.header_image.variant(resize_to_fit: [400, 400]) %></div>
      <% @real_estate.pictures.each do |picture| %>
        <% if picture.variable? %>
          <div class="rs_item_foto"><%= image_tag picture.variant(resize_to_fit: [400, 400]) %></div>
        <% elsif picture.previewable? %>
          <div class="rs_item_foto"><%= image_tag picture.preview(resize_to_fit: [400, 400]) %></div>
        <% end %>
      <% end %>
    </div>
    <div class="rs_item_desc">
        <h2 class="rs_item_subtitle"><%= I18n.t(@real_estate.real_estate_type) %></h2>
        <p><%= @real_estate.title %></p>
      </div>
    <div class="rs_item_location">
      <h2 class="rs_item_subtitle">Местоположение:</h2>
      <span class="rs_item_city"><%= @real_estate&.city&.name %></span>
      <span class="rs_item_address"><%= @real_estate.address %></span>
    </div>
    <div class="rs_item_details">
      <h2 class="rs_item_subtitle">Детали:</h2>
      <table class="rs_item_details_table">
        <tr>
          <td>К-во комнат</td>
          <td>Площадь (м2)</td>
          <td>Этаж</td>
          <td>Всего этажей</td>
          <td>Год постройки</td>
          <td>Материал стен</td>
          <td>Цена</td>
        </tr>
        <tr>
          <td><%= @real_estate.number_of_rooms %></td>
          <td><%= @real_estate.area %></td>
          <td><%= @real_estate.property_level %></td>
          <td><%= @real_estate.number_of_levels %></td>
          <td></td>
          <td><%= I18n.t(@real_estate.wall_material) %></td>
          <td><%= @real_estate.requested_price %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="rs_actions_wrapper">
  <div class="rs_actions">
    <%= link_to 'Назад к списку', real_estates_path, class: "btn_big_white" %>
  </div>
</div>
